img {
    width: 85%;
    height: 85%;

    text-align: center;
}

a{
    /*width: 100px;
    margin: 10px; */
    width: 30%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    display: block;
    text-decoration: none;
}

img {
    width: 85%;
    margin: 10px;
    padding: 10px;
}

div {
    background-color: aqua;
    text-align: center;
}

h2 {
    background-color: black;
}

p {
    background-color: blue;
}

.center{
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}